* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #E1E0E0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    color: rgb(241, 192, 68);
}

/*Organizando menu*/
#menu {
    height: 150px;
    background: rgb(241, 192, 68);
    text-align: center;
    color: white;
    padding-top: 15px;
    margin: 0px;
}

.preto {
    color: black;
}

#logo {
    padding: 20px;
}

/*Organizando links*/
a{
    font-weight: bold;
    text-decoration: none;
}

a:link, a:visited{
    color: goldenrod;
}

#menu a:link, #menu a:visited{
    color: white;
    padding: 10px;
}

#menu a:hover{
    background: white;
    color: goldenrod;
}

/*Organizando corpo do site*/
#area-principal {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

/*Organizando container de conteúdo*/
#area-postagens {
    width: 660px;
    float: left;
}

.postagem {
    padding: 20px;
    margin-bottom: 20px;
    background: white;
}

.data-postagem {
    font-size: 0.85em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}


/*Organizando conteúdos laterais*/
#area-lateral {
    width: 240px;
    float: right;
}

.conteudo-lateral {
    padding: 10px;
    background: white;
    margin-bottom: 10px;
}

.conteudo-lateral h3 {
    padding: 5px;
    background: rgb(160, 160, 160);
    color: rgb(36, 36, 36);
}

.postagem-lateral {
    padding: 5px;
}

/*Organizando rodapé*/
#rodape {
    text-align: center;
    padding: 15px;
    clear: both;
    background: gray;
}








